.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #fbd2d3;
}
thead {
    background-color: #f4777c;
}
@font-face {
    font-family: "ubbink";
    src: url(GOTHIC.TTF);
}
* {
  font-family: "ubbink", sans-serif !important
}
